<template name="listRegions">       
    <select name="listRegions" id="listRegions" tags="true" multiple="true" data-schema-key="listRegions" autocomplete="off" class="form-control select2-offscreen" tabindex="-1" data-placeholder="Regionen wählen od. eingeben">
    {{{listRegions}}}
  </select>
</template>

<template name="editRegions">       
  <select name="editRegions" id="editRegions" tags="true" multiple="true" data-schema-key="editRegions" autocomplete="off" class="form-control select2-offscreen" tabindex="-1" data-placeholder="Regionen wählen od. eingeben">
    {{{editRegions}}}
  </select>
</template>