<template name="listCountries">       
  <select name="listCountries" id="listCountries" multiple="true" data-schema-key="listCountries" autocomplete="off" class="form-control select2-offscreen" tabindex="-1" data-placeholder="Länder wählen">
    {{{listCountries}}}
  </select>
</template>

<template name="editCountries">       
  <select name="editCountries" id="editCountries" multiple="true" data-schema-key="editCountries" autocomplete="off" class="form-control select2-offscreen" tabindex="-1" data-placeholder="Länder wählen">
    {{{editCountries}}}
  </select>
</template>