/**
 * Less file for all sizes / standard
 * @since 0.1.1
 */  
@import url(http://fonts.googleapis.com/css?family=Amaranth);

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 0;
  margin: 0;
}

.spacer-10 {
  padding: 5px 0;
}

.spacer-20 {
  padding: 10px 0;
}

.spacer-50 {
  padding: 25px 0;
}

.page {
  width: 100%;
  margin: 0;
}

.header {
  background: rgba(255,255,255,1);
  height: 100px;
  padding: 20px 0;
}

.header .siteNav > ul {
  list-style-type: none;
  padding: 10px 0 0 0;
}

.siteNav a {
  color: rgba(0,0,0,1);
}

.siteNav a i {
  color: rgba(255, 102, 0, 1);
}

a {
  color: rgba(255, 102, 0, 1); 
  text-decoration: none;
}

a:hover, a:focus {
  color: rgba(200,0,0,1);
  text-decoration: none; 
}

.topnav {
  background: rgba(255, 102, 0, 1);
  text-transform: uppercase;
  position: relative;
  height: 40px;
  left: 0px;
  right: 0px;
  z-index: 2;
}

.topnav .navbar {
  height: 40px;
  min-height: 40px;
}

.topnav .navbar .navbar-brand, .topnav .navbar-nav > li > a {
  color: rgba(255,255,255,1);
  padding: 10px;
} 

.topnav .navbar-nav > li {
  border-right: 1px solid rgba(255,255,255,0.4);
}

.topnav .navbar-nav > li:first-child {
  border-left: 1px solid rgba(255,255,255,0.4);
}  

.topnav .navbar-nav > li > a:hover, .topnav .navbar-nav > li > a:focus, .topnav .navbar-nav > li > a:active {
  background: rgba(200,0,0,1);
  padding: 10px;
} 

.topnav .navbar-collapse, .topnav .container-fluid {
  padding: 0;
  -webkit-box-shadow: 20px 20px 50px -20px rgba(133,131,133,1);
  -moz-box-shadow: 20px 20px 50px -20px rgba(133,131,133,1);
  box-shadow: 20px 20px 50px -20px rgba(133,131,133,1);
}

.topnav form {
  padding: 5px;  
}

.topnav form i {
  color: rgba(255, 102, 0, 1);  
}

.rounded {
  background: rgba(255,255,255,1);
  display: inline-block;
  height: 150px;
  width: 150px;
  margin: 25px 0;
  border: 5px solid rgba(255, 102, 0, 1);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  left: 300px;
  top: 50px;
-webkit-box-shadow: 20px 20px 50px -20px rgba(133,131,133,1);
-moz-box-shadow: 20px 20px 50px -20px rgba(133,131,133,1);
box-shadow: 20px 20px 50px -20px rgba(133,131,133,1);
}

.rounded p {
  color: rgba(0,0,0,1);
  margin: 58px 0;
  text-transform: uppercase;
}

.multi {
  -moz-column-count:2; /* Firefox */
  -webkit-column-count:2; /* Safari and Chrome */
  column-count:2;
  -moz-column-gap:100px;
  -webkit-column-gap:100px;
  column-gap:100px;
  -moz-column-rule:1px dotted #000;
  -webkit-column-rule:1px dotted #000;
  column-rule:1px dotted #000;
  min-height: 230px;  
}

h3.page-header {
  border-bottom: 1px solid rgba(255, 102, 0, 1);
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.welcomeLayer {
  position: fixed; 
  left: 50%;
  top: 180px;
  height: 300px;
  margin: 0 0 0 -580px;
  width: 300px;
  border: 1px solid rgba(0,0,0,0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; 
  
  background: rgba(80,80,80,0.6);
}


.owl-carousel .item{
  margin: 3px;
}
owl-carousel .item img{
  display: block;
  width: 100%;
  height: auto;
}

img.headerimg {
  width: 100%;
}

h1 {
  font-family: 'Amaranth', sans-serif;
  font-size: 3em;
}

h2 {
  font-family: 'Amaranth', sans-serif;
  font-size: 2.2em;
}

h3 {
  font-family: 'Amaranth', sans-serif;
  font-size: 1.4em;
}

h3.no-spacer {
  margin: 0;
}

h4 {
  font-family: 'Amaranth', sans-serif;
  font-size: 1em;
}

p {
  font-size: 1em;
}

/** SOCIAL ICONS FA **/
.socialIcons {
  font-size: 2em;
}

.socialIcons .fa-facebook-square {
  color: rgba(58, 87, 149, 1);
}

.socialIcons .fa-google-plus-square {
  color: rgba(221, 75, 57, 1);
}

.socialIcons .fa-twitter-square {
  color: rgba(85, 172, 238, 1);
}

.socialIcons .fa-youtube-square {
  color: rgba(203, 32, 39, 1);
}

.tab-content {
  padding: 10px;
}

.footer {
  background: rgba(240,240,240,1);
  margin: 20px 0 0 0;
  height: auto;
  width: 100%;
}

.fixed {
  position: relative;
  top: 230px;
  left: 0;
}



/******/
.av .siteNav a {
  color: rgba(0, 0, 0, 1);
}

.av .siteNav a > i {
  color: rgba(90, 25, 100, 1);
}

.topnav.av {
  background: rgba(90, 25, 100, 1);
}

.topnav.av .navbar-nav > li > a:hover, .topnav.av .navbar-nav > li > a:focus, .topnav.av .navbar-nav > li > a:active {
  background: rgba(255, 102, 100, 1);
}

.topnav.av form i {
  color: rgba(90, 25, 100, 1);  
}

.av a {
  color: rgba(90, 25, 100, 1);
}

.panel-av > .panel-heading {
  color: rgba(255,255,255,1);
  background: rgba(90, 25, 100, 1);
  border-color: rgba(255,255,255,1);
  overflow: hidden;
  height: 45px;
}

.panel-av-detail > .panel-heading {
  color: rgba(255,255,255,1);
  background: rgba(90, 25, 100, 1);
  border-color: rgba(255,255,255,1);
}

.panel-av > .panel-body > .btn-panel {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.panel-av > .panel-body {
  height: 220px;
}

footer.av a {
  color: rgba(90, 25, 100, 1);
}


/*** ACP ***/
.topnav.acp {
  background: rgba(200, 0, 20, 1);
}

.topnav.acp .navbar-nav > li > a:hover, .topnav.acp .navbar-nav > li > a:focus, .topnav.acp .navbar-nav > li > a:active {
  background: rgba(255, 102, 100, 1);
}

.topnav.acp form i {
  color: rgba(200, 0, 20, 1); 
}

.acp a {
  color: rgba(200, 0, 20, 1);
}

footer.acp a {
  color: rgba(200, 0, 20, 1);
}