<template name="listBookList">
  {{{listBookList}}}
</template>

<template name="listBookListSel2">       
  <select name="bookTitle" id="bookTitle" data-schema-key="bookTitle" firstoption="Buch wählen" autocomplete="off" class="form-control select2-offscreen" tabindex="-1" data-placeholder="Buch wählen">                    
    {{{listBookListSel2}}}
  </select>
</template>

<template name="editBookList">
  {{{editBookList}}}
</template>

<template name="editBookListSel2">       
  <select name="bookTitle" id="bookTitle" data-schema-key="bookTitle" autocomplete="off" class="form-control select2-offscreen" tabindex="-1" data-placeholder="Buch wählen">                    
    {{{editBookListSel2}}}
  </select>
</template>

<template name="listBooksBilling">
  <select name="bookList" id="bookList" data-schema-key="bookList" autocomplete="off" class="form-control" tabindex="-1" data-placeholder="Buch wählen">
    {{{listBooksBilling}}}
  </select>
</template>