<template name="listAffiliates">       
  <select name="affiliateData" id="affiliateData" multiple="true" data-schema-key="affiliateData" autocomplete="off" class="form-control select2-offscreen" tabindex="-1" data-placeholder="Vertragspartner wählen">
    {{{listAffiliates}}}
  </select>
</template>

<template name="editAffiliates">       
  <select name="affiliateData" id="affiliateData" multiple="true" data-schema-key="affiliateData" autocomplete="off" class="form-control select2-offscreen" tabindex="-1" data-placeholder="Vertragspartner wählen">
    {{{editAffiliates}}}
  </select>
</template>

<template name="listAuthors">       
  <select name="authors" id="authors" multiple="true" data-schema-key="authors" autocomplete="off" class="form-control select2-offscreen" tabindex="-1" data-placeholder="Autor(en) wählen">
    {{{listAuthors}}}
  </select>
</template>

<template name="editAuthors">       
  <select name="authors" id="authors" multiple="true" data-schema-key="authors" autocomplete="off" class="form-control select2-offscreen" tabindex="-1" data-placeholder="Autor(en) wählen">
    {{{editAuthors}}}
  </select>
</template>