<template name="customerEditACP">
<h1 class="page-header">Kunde <small>{{customerName}}</small></h1>
<div class="row">
  <div class="col-sm-3">
    <form class="form-horizontal" role="form" id="customerSettings">
      <div class="row">
        <div class="col-sm-12">
          <fieldset>
            <legend>Portale</legend>
            {{> listEditPortals}}
          </fieldset>
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-9">
    <h3>Eingaben:</h3> 
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#basics" aria-controls="basics" role="tab" data-toggle="tab">Grunddaten</a></li>
      {{#each portals}}
        <li role="presentation"><a href="#{{name}}" aria-controls="" role="tab" data-toggle="tab">{{name}}</a></li>
      {{/each}}
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="basics">
        {{> tabBasics}}
      </div>
      {{#each portals}}
        <div role="tabpanel" class="tab-pane active" id="{{name}}">
          {{> tabs portalName}}
        </div>
      {{/each}}
    </div>
  </div>
</div>
</template>