<template name="customerNew">
  <h1 class="page-header">Neuen Kunden anlegen</h1>
  <div class="row">
    <form class="form-horizontal" role="form" id="customerSettings">
      <div class="col-xs-12 col-sm-6">     
        <div class="panel-group" id="customerData" role="tablist" aria-multiselectable="true">
          <fieldset>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headPublicData">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#customerData" href="#collapsePublicData" aria-expanded="false" aria-controls="collapsePublicData">
                    Öffentliche Daten
                  </a>
                </h4>
              </div>
              <div id="collapsePublicData" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headPublicData">
                <div class="panel-body">
                  <!-- fields publicData -->
                  <!-- customerName -->                
                  <div class="form-group form-group-sm">                   
                    <label for="customerName" class="col-sm-3 control-label">Kunde</label>                   
                    <div class="col-sm-9">                       
                      <input type="text" class="form-control" id="customerName" name="customerName">                   
                    </div>               
                  </div>             
                  <!-- street -->                        
                  <div class="form-group form-group-sm">                           
                    <label for="graduate" class="col-sm-3 control-label">Strasse</label>                           
                    <div class="col-sm-9">                               
                      <input type="text" class="form-control" id="street" name="street">                           
                    </div>                       
                  </div>                       
                  <!-- additional -->                        
                  <div class="form-group form-group-sm">                           
                    <label for="additional" class="col-sm-3 control-label">Zusatz</label>                           
                    <div class="col-sm-9">                               
                      <input type="text" class="form-control" id="additional" name="additional">                           
                    </div>                       
                  </div>                       
                  <!-- plz -->                        
                  <div class="form-group form-group-sm">                           
                    <label for="plz" class="col-sm-3 control-label">PLZ</label>                           
                    <div class="col-sm-4">                               
                      <input type="text" class="form-control" id="plz" name="plz">                           
                    </div>                       
                  </div>                       
                  <!-- city -->                        
                  <div class="form-group form-group-sm">                           
                    <label for="city" class="col-sm-3 control-label">Ort</label>                           
                    <div class="col-sm-9">                               
                      <input type="text" class="form-control" id="city" name="city">                           
                    </div>                       
                  </div>                       
                  <!-- country -->                        
                  <div class="form-group form-group-sm">                           
                    <label for="country" class="col-sm-3 control-label">Land</label>                           
                    <div class="col-sm-9">                               
                      <input type="text" class="form-control" id="country" name="country">                           
                    </div>                       
                  </div>                       
                  <!-- telephone -->                        
                  <div class="form-group form-group-sm">                           
                    <label for="telephone" class="col-sm-3 control-label">Telefon</label>                           
                    <div class="col-sm-9">                               
                      <input type="text" class="form-control" id="telephone" name="telephone">                           
                    </div>                       
                  </div>                       
                  <!-- telefax -->                        
                  <div class="form-group form-group-sm">                           
                    <label for="telefax" class="col-sm-3 control-label">Fax</label>                           
                    <div class="col-sm-9">                               
                      <input type="text" class="form-control" id="telefax" name="telefax">                           
                    </div>                       
                  </div>                       
                  <!-- emailOff -->                        
                  <div class="form-group form-group-sm">                           
                    <label for="emailOff" class="col-sm-3 control-label">Email</label>                           
                    <div class="col-sm-9">                               
                      <input type="email" class="form-control" id="emailOff" name="emailOff" placeholder="email@email.de">                           
                    </div>                       
                  </div>                       
                  <!-- url -->                        
                  <div class="form-group form-group-sm">                           
                    <label for="url" class="col-sm-3 control-label">Website</label>                           
                    <div class="col-sm-9">                               
                      <input type="text" class="form-control" id="url" name="url" placeholder="www.webadresse.de">                           
                    </div>                       
                  </div>
                  <!-- socialFacebook -->                       
                  <div class="form-group form-group-sm">                           
                    <label for="socialFacebook" class="col-sm-3 control-label">Facebook</label>                           
                    <div class="col-sm-9">                               
                      <input type="text" class="form-control" id="socialFacebook" name="socialFacebook" placeholder="https://www.facebook.com/NAME">                           
                    </div>                       
                  </div>        
                  <!-- socialTwitter -->                       
                  <div class="form-group form-group-sm">                           
                    <label for="socialTwitter" class="col-sm-3 control-label">Twitter</label>                           
                    <div class="col-sm-9">                               
                      <input type="text" class="form-control" id="socialTwitter" name="socialTwitter" placeholder="https://twitter.com/NAME">                           
                    </div>                       
                  </div>        
                  <!-- socialGplus -->                       
                  <div class="form-group form-group-sm">                           
                    <label for="socialGplus" class="col-sm-3 control-label">G+</label>                           
                    <div class="col-sm-9">                               
                      <input type="text" class="form-control" id="socialGplus" name="socialGplus" placeholder="https://plus.google.com/u/0/+NAME/posts">                           
                    </div>                       
                  </div>        
                  <!-- socialYoutube -->                       
                  <div class="form-group form-group-sm">                           
                    <label for="socialYoutube" class="col-sm-3 control-label">Youtube</label>                           
                    <div class="col-sm-9">                               
                      <input type="text" class="form-control" id="socialYoutube" name="socialYoutube" placeholder="https://www.youtube.com/user/NAME">                           
                    </div>                       
                  </div> 
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headPrivateData">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#customerData" href="#collapsePrivateData" aria-expanded="false" aria-controls="collapsePrivateData">
                    Interne Daten
                  </a>
                </h4>
              </div>
              <div id="collapsePrivateData" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headPrivateData">
                <div class="panel-body">
                  <!-- fields privateData -->
                  <!-- customerContact -->                       
                  <div class="form-group form-group-sm">                           
                    <label for="customerContact" class="col-sm-3 control-label">Ansprechpartner</label>                           
                    <div class="col-sm-9">                               
                      <input type="text" class="form-control" id="customerContact" name="customerContact">                           
                    </div>                       
                  </div>        
                  <!-- contactTelephone -->                       
                  <div class="form-group form-group-sm">                           
                    <label for="contactTelephone" class="col-sm-3 control-label">Telefon</label>                           
                    <div class="col-sm-9">                               
                      <input type="text" class="form-control" id="contactTelephone" name="contactTelephone">                           
                    </div>                       
                  </div>        
                  <!-- contactMobil -->                       
                  <div class="form-group form-group-sm">                           
                    <label for="contactMobil" class="col-sm-3 control-label">Mobil</label>                           
                    <div class="col-sm-9">                               
                      <input type="text" class="form-control" id="contactMobil" name="contactMobil">                           
                    </div>                       
                  </div>        
                  <!-- contactEmail -->                       
                  <div class="form-group form-group-sm">                           
                    <label for="contactEmail" class="col-sm-3 control-label">E-Mail</label>                           
                    <div class="col-sm-9">                               
                      <input type="email" class="form-control" id="contactEmail" name="contactEmail">                           
                    </div>                       
                  </div>               
                  <!-- notes -->                   
                  <div class="form-group form-group-sm">                           
                    <label for="notes" class="col-sm-3 control-label">Notizen</label>                           
                    <div class="col-sm-9">                               
                      <textarea rows="3" data-schema-key="notes" class="form-control" id="notes" name="notes">{{text}}</textarea>                            
                    </div>                       
                  </div> 
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
      
      <div class="col-xs-12 col-sm-6">     
        <div class="panel-group" id="portalData" role="tablist" aria-multiselectable="true">
          <fieldset>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headRentingsData">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#portalData" href="#collapseRentingsData" aria-expanded="false" aria-controls="collapseRentingsData">
                    Portal: Vermietungen
                  </a>
                </h4>
              </div>
              <div id="#collapseRentingsData" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headRentingsData">
                <div class="panel-body">
                  <!-- fields toursData -->
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headToursData">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#portalData" href="#collapseToursData" aria-expanded="true" aria-controls="collapseToursData">
                    Portal: Reisen
                  </a>
                </h4>
              </div>
              <div id="collapseToursData" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headToursData">
                <div class="panel-body">
                  <!-- fields toursData -->
                  <!-- toursName -->                
                  <div class="form-group form-group-sm">                   
                    <label for="toursName" class="col-sm-3 control-label">Name der Reise</label>                   
                    <div class="col-sm-9">                       
                      <input type="text" class="form-control" id="toursName" name="toursName">                   
                    </div>               
                  </div>
                  <!-- toursBegin -->                
                  <div class="form-group form-group-sm">                   
                    <label for="toursBegin" class="col-sm-3 control-label">Beginn</label>                   
                    <div class="col-sm-9">                       
                      <input type="date" class="form-control" id="toursBegin" name="toursBegin">                   
                    </div>               
                  </div>
                  <!-- toursEnd -->                
                  <div class="form-group form-group-sm">                   
                    <label for="toursEnd" class="col-sm-3 control-label">Ende</label>                   
                    <div class="col-sm-9">                       
                      <input type="date" class="form-control" id="toursEnd" name="toursEnd">                   
                    </div>               
                  </div>
                  <!-- toursListCountries -->                
                  <div class="form-group">                   
                    <label for="listCountries" class="col-sm-3 control-label">Reiseländer</label>                   
                    <div class="col-sm-9">                       
                      {{> listCountries}}                   
                    </div>               
                  </div>
                  <!-- toursListRegions -->                
                  <div class="form-group">                   
                    <label for="listRegions" class="col-sm-3 control-label">Reiseregionen</label>                   
                    <div class="col-sm-9">                       
                      {{> listRegions}}                   
                    </div>               
                  </div>
                  <!-- toursUrl -->                
                  <div class="form-group form-group-sm">                   
                    <label for="toursUrl" class="col-sm-3 control-label">URL</label>                   
                    <div class="col-sm-9">                       
                      <input type="text" class="form-control" id="toursUrl" name="toursUrl" placeholder="Website zur Reise ohne http://">                   
                    </div>               
                  </div>
                  <!-- toursHasPackage -->                
                  <div class="form-group form-group-sm">                   
                    <label for="toursHasPackage" class="col-sm-3 control-label">Paket</label>                   
                    <div class="col-sm-9">                       
                      <select class="form-control" name="toursHasPackage" id="toursHasPackage">
                        <option value="S">Paket S</option>
                        <option value="M">Paket M</option>
                        <option value="L">Paket L</option>
                        <option value="XL">Paket XL</option>
                      </select>                   
                    </div>               
                  </div>
                  <!-- toursHasHeader -->                
                  <div class="form-group form-group-sm">                   
                    <label for="toursHasHeader" class="col-sm-3 control-label">Header</label>                   
                    <div class="col-sm-9">                       
                      <select class="form-control" name="toursHasHeader" id="toursHasHeader">
                        <option value="0">kein eigener Header</option>
                        <option value="1">eigenes Headerbild</option>
                        <option value="2">eigener Slider</option>
                      </select>                   
                    </div>               
                  </div>
                  <!-- toursHasGallery -->                
                  <div class="form-group form-group-sm">                   
                    <label for="toursHasGallery" class="col-sm-3 control-label">Galerie</label>                   
                    <div class="col-sm-9">                       
                      <select class="form-control" name="toursHasGallery" id="toursHasGallery">
                        <option value="0">keine Galerie</option>
                        <option value="1">Galerie klein</option>
                        <option value="2">Galerie groß</option>
                      </select>                   
                    </div>               
                  </div>
                  <!-- toursHasAddTextOne -->                
                  <div class="form-group form-group-sm">                   
                    <label for="toursHasAddTextOne" class="col-sm-3 control-label">Extra Text #1</label>                   
                    <div class="col-sm-9">                       
                      <input type="checkbox" id="toursHasAddTextOne" name="toursHasAddTextOne">                   
                    </div>               
                  </div>
                  <!-- toursHasAddTextTwo -->                
                  <div class="form-group form-group-sm">                   
                    <label for="toursHasAddTextTwo" class="col-sm-3 control-label">Extra Text #2</label>                   
                    <div class="col-sm-9">                       
                      <input type="checkbox" id="toursHasAddTextTwo" name="toursHasAddTextTwo">                   
                    </div>               
                  </div>
                  <!-- toursHasVideo -->                
                  <div class="form-group form-group-sm">                   
                    <label for="toursHasVideo" class="col-sm-3 control-label">Video</label>                   
                    <div class="col-sm-9">                       
                      <input type="checkbox" id="toursHasVideo" name="toursHasVideo">                   
                    </div>               
                  </div>
                  <!-- toursHasSocialMedia -->                
                  <div class="form-group form-group-sm">                   
                    <label for="hasSocialMedia" class="col-sm-3 control-label">Social Media</label>                   
                    <div class="col-sm-9">                       
                      <input type="checkbox" id="hasSocialMedia" name="hasSocialMedia">                   
                    </div>               
                  </div>
                  <!-- modalTours -->
                  <div class="control-group">            
                    <div class="controls">              
                      <input type="button" class="btn btn-default" data-toggle="modal" data-target="#modalTours" value="Pakete erfassen"/>              
                    </div>          
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </form>
  </div>
  {{> modalTours}}
</template>