<template name="formPackageS">
  <form class="form-horizontal" role="form" id="formPackageS">
    <fieldset>
      <!-- tabOneS -->                
      <div class="form-group form-group-sm">                   
        <label for="tabOneS" class="col-sm-3 control-label">Tab Name</label>                   
        <div class="col-sm-9">                       
          <input type="text" class="form-control" id="tabOneS" name="tabOneS" value="Übersicht">                   
        </div>               
      </div>
      <div class="form-group form-group-sm">                   
        <label for="textOneS" class="col-sm-3 control-label">Text</label>                   
        <div class="col-sm-9">                       
          <textarea class="wysiwyg" id="textOneS" name="textOneS"></textarea>                   
        </div>               
      </div>
    </fieldset>
    <fieldset>
      <!-- buttons -->          
      <div class="control-group">            
        <div class="controls">              
          <input type="submit" value="Speichern" class="btn btn-default"/>              
          <input type="reset" value="Abbrechen" class="btn btn-default"/>            
        </div>          
      </div>

    </fieldset>
  </form>
</template>

<template name="formPackageM">
  <form class="form-horizontal" role="form" id="formPackageM">
    <fieldset>
      <!-- tabOneM -->                
      <div class="form-group form-group-sm">                   
        <label for="tabOneM" class="col-sm-3 control-label">Tab #1</label>                   
        <div class="col-sm-9">                       
          <input type="text" class="form-control" id="tabOneM" name="tabOneM" value="Übersicht">                   
        </div>               
      </div>
      <!-- textOneM -->
      <div class="form-group form-group-sm">                   
        <label for="textOneM" class="col-sm-3 control-label">Text #1</label>                   
        <div class="col-sm-9">                       
          <textarea class="wysiwyg" id="textOneM" name="textOneM"></textarea>                   
        </div>               
      </div>
      <!-- tabTwoM -->                
      <div class="form-group form-group-sm">                   
        <label for="tabTwoM" class="col-sm-3 control-label">Tab #2</label>                   
        <div class="col-sm-9">                       
          <input type="text" class="form-control" id="tabTwoM" name="tabTwoM">                   
        </div>               
      </div>
      <!-- textTwoM -->
      <div class="form-group form-group-sm">                   
        <label for="textTwoM" class="col-sm-3 control-label">Text #2</label>                   
        <div class="col-sm-9">                       
          <textarea class="wysiwyg" id="textTwoM" name="textTwoM"></textarea>                   
        </div>               
      </div>   
    </fieldset>
    <fieldset>
      <!-- buttons -->          
      <div class="control-group">            
        <div class="controls">              
          <input type="submit" value="Speichern" class="btn btn-default"/>              
          <input type="reset" value="Abbrechen" class="btn btn-default"/>            
        </div>          
      </div>
    </fieldset>
  </form>
</template>

<template name="formPackageL">
  <form class="form-horizontal" role="form" id="formPackageL">
    <fieldset>
      <!-- tabOneL -->                
      <div class="form-group form-group-sm">                   
        <label for="tabOneL" class="col-sm-3 control-label">Tab #1</label>                   
        <div class="col-sm-9">                       
          <input type="text" class="form-control" id="tabOneL" name="tabOneL" value="Übersicht">                   
        </div>               
      </div>
      <!-- textOneL -->
      <div class="form-group form-group-sm">                   
        <label for="textOneL" class="col-sm-3 control-label">Text #1</label>                   
        <div class="col-sm-9">                       
          <textarea class="wysiwyg" id="textOneL" name="textOneL"></textarea>                   
        </div>               
      </div>
      <!-- tabTwoL -->                
      <div class="form-group form-group-sm">                   
        <label for="tabTwoL" class="col-sm-3 control-label">Tab #2</label>                   
        <div class="col-sm-9">                       
          <input type="text" class="form-control" id="tabTwoL" name="tabTwoL">                   
        </div>               
      </div>
      <!-- textTwoL -->
      <div class="form-group form-group-sm">                   
        <label for="textTwoL" class="col-sm-3 control-label">Text #2</label>                   
        <div class="col-sm-9">                       
          <textarea class="wysiwyg" id="textTwoL" name="textTwoL"></textarea>                   
        </div>               
      </div>
      <!-- tabThreeL -->                
      <div class="form-group form-group-sm">                   
        <label for="tabThreeL" class="col-sm-3 control-label">Tab #3</label>                   
        <div class="col-sm-9">                       
          <input type="text" class="form-control" id="tabThreeL" name="tabThreeL">                   
        </div>               
      </div>
      <!-- textThreeL -->
      <div class="form-group form-group-sm">                   
        <label for="textThreeL" class="col-sm-3 control-label">Text #3</label>                   
        <div class="col-sm-9">                       
          <textarea class="wysiwyg" id="textThreeL" name="textThreeL"></textarea>                   
        </div>               
      </div>   
    </fieldset>
    <fieldset>
      <!-- buttons -->          
      <div class="control-group">            
        <div class="controls">              
          <input type="submit" value="Speichern" class="btn btn-default"/>              
          <input type="reset" value="Abbrechen" class="btn btn-default"/>            
        </div>          
      </div>
    </fieldset>
  </form>
</template>

<template name="formPackageXL">
  <form class="form-horizontal" role="form" id="formPackageXL">
    <fieldset>
      <!-- tabOneXL -->                
      <div class="form-group form-group-sm">                   
        <label for="tabOneXL" class="col-sm-3 control-label">Tab #1</label>                   
        <div class="col-sm-9">                       
          <input type="text" class="form-control" id="tabOneXL" name="tabOneXL" value="Übersicht">                   
        </div>               
      </div>
      <!-- textOneXL -->
      <div class="form-group form-group-sm">                   
        <label for="textOneXL" class="col-sm-3 control-label">Text #1</label>                   
        <div class="col-sm-9">                       
          <textarea class="wysiwyg" id="textOneXL" name="textOneXL"></textarea>                   
        </div>               
      </div>
      <!-- tabTwoXL -->                
      <div class="form-group form-group-sm">                   
        <label for="tabTwoXL" class="col-sm-3 control-label">Tab #2</label>                   
        <div class="col-sm-9">                       
          <input type="text" class="form-control" id="tabTwoXL" name="tabTwoXL">                   
        </div>               
      </div>
      <!-- textTwoXL -->
      <div class="form-group form-group-sm">                   
        <label for="textTwoXL" class="col-sm-3 control-label">Text #2</label>                   
        <div class="col-sm-9">                       
          <textarea class="wysiwyg" id="textTwoXL" name="textTwoXL"></textarea>                   
        </div>               
      </div>
      <!-- tabThreeXL -->                
      <div class="form-group form-group-sm">                   
        <label for="tabThreeXL" class="col-sm-3 control-label">Tab #3</label>                   
        <div class="col-sm-9">                       
          <input type="text" class="form-control" id="tabThreeXL" name="tabThreeXL">                   
        </div>               
      </div>
      <!-- textThreeXL -->
      <div class="form-group form-group-sm">                   
        <label for="textThreeXL" class="col-sm-3 control-label">Text #3</label>                   
        <div class="col-sm-9">                       
          <textarea class="wysiwyg" id="textThreeXL" name="textThreeXL"></textarea>                   
        </div>               
      </div>
      <!-- tabFourXL -->                
      <div class="form-group form-group-sm">                   
        <label for="tabFourXL" class="col-sm-3 control-label">Tab #4</label>                   
        <div class="col-sm-9">                       
          <input type="text" class="form-control" id="tabFourXL" name="tabFourXL">                   
        </div>               
      </div>
      <!-- textFourXL -->
      <div class="form-group form-group-sm">                   
        <label for="textFourXL" class="col-sm-3 control-label">Text #4</label>                   
        <div class="col-sm-9">                       
          <textarea class="wysiwyg" id="textFourXL" name="textFourXL"></textarea>                   
        </div>               
      </div>   
    </fieldset>
    <fieldset>
      <!-- buttons -->          
      <div class="control-group">            
        <div class="controls">              
          <input type="submit" value="Speichern" class="btn btn-default"/>              
          <input type="reset" value="Abbrechen" class="btn btn-default"/>            
        </div>          
      </div>
    </fieldset>
  </form>
</template>